<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
  </head>
  <body>
    <div><font face="verdana" color="blue">Open</font>
    <font face="verdana" color="red">Power</font>
    <font face="verdana" color="yellow">System</font>
    </div>
    <br/>

    {% if upload %}
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div>CIM RDF/XML file: <input type="file" name="fname" />&nbsp;<input type="submit" value="Upload"></div>
    </form>
    {% endif %}

    {% for terminal in terminals %}
      {% if terminal.name %}
        <b>{{ terminal.name }}</b>
      {% endif %}
    {% endfor %}

    <a href="{{ url }}">{{ url_linktext }}</a>

    <div style="width:80%; height:80%" id="map"></div>
    <script defer="defer" type="text/javascript">
        var map = new OpenLayers.Map('map');
        var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
            "http://labs.metacarta.com/wms/vmap0", {layers: 'basic'} );
       map.addLayer(wms);
        map.zoomToMaxExtent();
    </script>

  </body>
</html>
